* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.upperdiv {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 670px; 
    height: 670px;
    font-size: 1.5rem;
}

.board {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    width: 610px;
    height: 610px;
}

.board div.odd:nth-child(odd){      
    background-color: #b3b3b3;
}

.board div.even:nth-child(even){  
    background-color: #b3b3b3 ;
}

.square {
    height: 75px;
    width: 75px;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}

  div{
    width:52px;
    height:52px;
    float:left;
    font-size:40px;
    line-height:52px;
    text-align:center;
  }



